@model DichVuGame.Models.Tag

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/AdminHome/_CMSLayout.cshtml";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Thẻ Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tagname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tagname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Sửa lại</a> |
    <a asp-action="Index">Trở Về</a>
</div>
